<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">Reset</a>
    <h1>Count</h1>
    <h2>Your text is:
        <p>{{full_text}}...</p>
    </h2>
    <h1>Your word count
        <p>{{count}}</p>
    </h1>
    <h1>COUNTED:
        <p> {% for word, counttotal in worddict %}
            <div style="matgin=10px;">
            <br>
            {{word}}
            <br>
            {{counttotal}}
            </div>
            {% endfor %}
        </p>
    </h1>
</body>
</html>